.needHelp_panel {
	.title {
		font-family: FreeSerif;
		font-style: italic;
		font-weight: 400;
		font-size: 36px;
		color: #021825;
		border-bottom: 1px solid rgba(2, 24, 37, 0.1);
		padding-bottom: 18px;
		margin-bottom: 24px;
	}
	.description {
		font-size: 13px;
		line-height: 17px;
		letter-spacing: 0.05em;
		color: #021825;
	}
	.help-panel {
		padding: 0 30px;
		border: 1px solid rgba(2, 24, 37, 0.1);
		border-radius: 12px;
		.top-panel {
			padding: 30px 0;
			border-bottom: 1px solid rgba(2, 24, 37, 0.1);
		}

		.bottom-panel {
			padding: 24px 0 30px 0;
			.btn {
				padding: 11px 31px;
			}
		}
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			color: #021825;
		}
		.link-panel {
			a {
				font-weight: 400;
				font-size: 16px;
				line-height: 21px;
				color: #01215c;
			}
		}
		.btn-online {
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			color: #01215c;
			border-radius: 6px;
		}
	}
	.left-panel {
		padding: 20px;
		height: 100%;
		border: 1px solid rgba(2, 24, 37, 0.1);
		border-radius: 12px;
		a {
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			color: #01215c;
			&:not(&:last-child) {
				margin-bottom: 15px;
			}
		}
	}
}
