.wishList-panel {
	.title {
		font-family: FreeSerif;
		font-style: italic;
		font-weight: 400;
		font-size: 36px;
		color: #021825;
		border-bottom: 1px solid rgba(2, 24, 37, 0.1);
		padding-bottom: 18px;
		margin-bottom: 24px;
		span {
			font-family: FreeSerif;
			font-style: italic;
			color: rgba(2, 24, 37, 0.5);
		}
	}
	.list-panel {
		.item-panel {
			.title-panel {
				flex: 1;
				.item-image {
					border: 1px solid rgba(2, 24, 37, 0.1);
					border-radius: 15px;
					width: 140px;
					min-width: 140px;
					height: 140px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.item-title {
					.title {
						font-size: 24px;
						font-weight: 400;
						color: #01215c;
					}
					.description {
						display: -webkit-box;
						word-break: break-all;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
						font-weight: 400;
						font-size: 14px;
						line-height: 21px;
						color: rgba(2, 24, 37, 0.8);
					}
					.btn-remove {
						font-weight: 500;
						font-size: 16px;
						line-height: 21px;
						color: rgba(2, 24, 37, 0.5);
					}
				}
			}
			.price-panel {
				.item-price {
					font-family: FreeSerif;
					font-style: italic;
					color: #01215c;
					font-size: 2.2rem;
					font-weight: 400;
				}
				.btn-add-cart {
					font-weight: 500;
					font-size: 12px;
					line-height: 15px;
					color: #01215c;
					border: 2px solid #fad3da;
					border-radius: 7px;
					&:hover {
						background: #fad3da;
					}
				}
			}
		}
	}
}
