.about_page {
  .hero-section {
    margin-top: -12rem;
    background: linear-gradient(
        180deg,
        #e5d7bf 13.19%,
        rgba(229, 215, 191, 0) 44.07%
      ),
      url(/img/about/hero_bg.jpg);
    background-size: cover;
    background-position: center;
    height: 65rem;
    @media (max-width: 767px) {
      margin-top: 0;
      background: url(/img/about/hero_bg-mobile.jpg);
      background-size: cover;
      background-position: center;
      height: 55vh;
    }
  }
  .guide-section {
    background: #f7f3ec;
    .title {
      font-size: 4.8rem;
      font-weight: 400;
      color: #01215c;
      span {
        font-family: FreeSerif;
        font-weight: 400;
        font-style: italic;
        font-size: 5.2rem;
        line-height: 120%;
      }
    }
    .guide-text {
      font-size: 24px;
      line-height: 150%;
      font-weight: 400;
      color: rgba(2, 24, 37, 0.8);
    }
    @media (max-width: 767px) {
      .title {
        font-size: 4rem;
        span {
          font-size: 4rem;
        }
      }
      .guide-text {
        font-size: 1.8rem;
      }
    }
  }
  .video-section {
    position: relative;
    .video-panel {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      .responsive-iframe {
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 3;
      }
    }
    .video_img {
      position: relative;
      z-index: 2;
      width: 100%;
      min-height: 350px;
      object-fit: cover;
    }
    .btn-play {
      position: absolute;
      font-size: 9rem;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgba(255, 255, 255, 0.7);
      transition-duration: 0.5s;
      cursor: pointer;
      &:hover {
        font-size: 9.5rem;
        transition-duration: 0.7s;
      }
      @media (max-width: 767px) {
        font-size: 4.9rem;
        &:hover {
          font-size: 5.2rem;
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      height: 55%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background: #f7f3ec;
    }
  }
  .article-section {
    .title-panel {
      border-bottom: 1px solid rgba(2, 24, 37, 0.1);
      h3 {
        font-size: 3.6rem;
        line-height: 120%;
        font-weight: 400;
        @media (max-width: 767px) {
          font-size: 3.2rem;
        }
      }
      button {
        color: rgba(2, 24, 37, 0.7);
        font-weight: 350;
        font-size: 18px;
        line-height: 23px;
      }
    }
  }
  .famous-section {
    .title-panel {
      background: rgba(250, 211, 218, 0.5);
      position: relative;
      h3 {
        font-weight: 400;
        font-size: 4.8rem;
        line-height: 120%;
        span {
          font-size: 5.2rem;
          font-family: FreeSerif;
          font-style: italic;
        }
      }
      p {
        font-size: 1.8rem;
        font-weight: 400;
      }
      &::after {
        content: "";
        background: rgba(250, 211, 218, 0.5);
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        height: 70%;
      }
    }
    @media (max-width: 767px) {
      .title-panel {
        h3 {
          font-size: 4rem;
          span {
            font-size: 4rem;
          }
        }
        p {
          font-size: 1.6rem;
        }
      }
    }
  }
  .facet-section {
    .video-panel {
      position: relative;
      img {
        width: 100%;
        min-height: 350px;
        object-fit: cover;
      }
      .btn-play {
        font-size: 40px;
        color: rgba(255, 255, 255, 0.7);
        position: absolute;
        transform: translate(-50%, 50%);
        bottom: 15%;
        left: 10%;
        cursor: pointer;
        transition-duration: 0.5s;
        &:hover {
          transition-duration: 0.7s;
          font-size: 45px;
        }
        @media (max-width: 767px) {
          bottom: 20%;
          left: 12%;
        }
      }
    }
    .title-panel {
      h3 {
        font-size: 4.8rem;
        line-height: 130%;
        font-weight: 400;
        width: 75%;
      }
      a {
        font-size: 1.8rem;
        font-weight: 500;
        max-width: max-content;
      }
      @media (max-width: 767px) {
        h3 {
          width: 100%;
          font-size: 2.4rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
  .education-section {
    .title-panel {
      background: #f7f3ec;
      position: relative;
      h3 {
        font-weight: 400;
        font-size: 4.8rem;
        line-height: 120%;
        span {
          font-size: 5.2rem;
          font-family: FreeSerif;
          font-style: italic;
        }
      }
      p {
        font-size: 1.8rem;
        font-weight: 400;
      }
      &::after {
        content: "";
        background: #f7f3ec;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        height: 90%;
      }
      @media (max-width: 767px) {
        h3 {
          width: 80%;
          font-size: 4rem;
          span {
            font-size: 3.6rem;
          }
        }
        p {
          width: 80%;
          font-size: 1.6rem;
        }
        &::after {
          height: 50%;
        }
      }
    }
    .education-items {
      position: relative;
      z-index: 1;
      img {
        width: 100%;
      }
      h3 {
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
  }
  .buy-section {
    .title-panel {
      background: rgba(250, 211, 218, 0.5);
      position: relative;
      h3 {
        font-weight: 400;
        font-size: 4.8rem;
        line-height: 120%;
      }
      p {
        font-size: 1.8rem;
        font-weight: 400;
      }
      &::after {
        content: "";
        background: rgba(250, 211, 218, 0.5);
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        height: 90%;
      }
      @media (max-width: 767px) {
        h3 {
          font-size: 3.6rem;
        }
        p {
          font-size: 1.6rem;
        }
      }
    }
  }
  .legacy-section {
    overflow: hidden;
    .image-panel {
      min-height: 200px;
      background: url(/img/about/legacy_bg.png);
      background-position: right;
      background-size: cover;
    }
    .main-panel {
      color: white;
      background: #01215c;
      h3 {
        font-weight: 400;
        font-size: 4.8rem;
        line-height: 120%;
        span {
          font-size: 5.2rem;
          font-family: FreeSerif;
          font-style: italic;
        }
      }
      p {
        font-size: 1.8rem;
        font-weight: 400;
      }
      button {
        font-size: 1.6rem;
        font-weight: 500;
      }
      @media (max-width: 767px) {
        h3 {
          font-size: 3.6rem;
          span {
            font-size: 3.6rem;
          }
        }
        p {
          font-size: 1.6rem;
        }
      }
      @media (max-width: 500px) {
        button {
          width: 100%;
        }
      }
    }
  }
}
