.our-experts_page {
  .hero-section {
    background: url(/img/ourExperts/banner_bg.jpg);
    background-size: cover;
    background-position: center;
    .r-container {
      padding-top: 20rem;
      padding-bottom: 5rem;
      @media (max-width: 991px) {
        padding-top: 15rem;
      }
      .title {
        font-size: 7.2rem;
        font-weight: 400;
        line-height: 102%;
        & > span {
          font-family: FreeSerif;
          font-style: italic;
          font-weight: 400;
          font-size: 7.6rem;
        }
      }
    }
    @media (max-width: 767px) {
      .r-container {
        padding-top: 10rem;
        padding-bottom: 3rem;
        .title {
          width: 80%;
          font-size: 5.8rem;
          line-height: 1;
          span {
            font-size: 5.8rem;
            line-height: 98%;
          }
        }
      }
    }
    @media (max-width: 575px) {
      .r-container {
        p {
          font-size: 1.8rem;
        }
        .title {
          width: 100%;
          font-size: 3.4rem;
          span {
            font-size: 3.4rem;
          }
        }
      }
    }
  }
  .guide-section {
    background: #f7f3ec;
    .title {
      font-size: 4.8rem;
      font-weight: 400;
      color: #01215c;
      span {
        font-family: FreeSerif;
        font-style: italic;
      }
    }
    .guide-text {
      font-size: 24px;
      line-height: 150%;
      font-weight: 400;
      color: rgba(2, 24, 37, 0.8);
    }
    @media (max-width: 575px) {
      .title {
        width: 100%;
        font-size: 3.6rem;
      }
      .guide-text {
        font-size: 1.8rem;
      }
    }
  }
  .experts-section {
    .expert-item {
      border: 1px solid rgba(2, 24, 37, 0.1);
      background: white;
      transition-duration: .5s;
      &:hover {
        transition-duration: .7s;
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.06);
      }
      .image-panel {
        img {
          width: 100%;
        }
      }
      .expert-name {
        font-weight: 400;
        font-size: 36px;
        line-height: 110%;
      }
      .expert-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 110%;
        color: rgba(2, 24, 37, 0.7);
      }
      .link-panel {
        a {
          font-size: 1.6rem;
          color: #e99aa8;
        }
      }
    }
  }
}
