@font-face {
    font-family: 'Marlin Geo SQ ExtraBlack';
    src: url('MarlinGeoSQ-ExtraBlackItalic.eot');
    src: local('Marlin Geo SQ ExtraBlack Italic'), local('MarlinGeoSQ-ExtraBlackItalic'),
        url('MarlinGeoSQ-ExtraBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-ExtraBlackItalic.woff2') format('woff2'),
        url('MarlinGeoSQ-ExtraBlackItalic.woff') format('woff'),
        url('MarlinGeoSQ-ExtraBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-ExtraBold.eot');
    src: local('Marlin Geo SQ ExtraBold'), local('MarlinGeoSQ-ExtraBold'),
        url('MarlinGeoSQ-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-ExtraBold.woff2') format('woff2'),
        url('MarlinGeoSQ-ExtraBold.woff') format('woff'),
        url('MarlinGeoSQ-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-BoldItalic.eot');
    src: local('Marlin Geo SQ Bold Italic'), local('MarlinGeoSQ-BoldItalic'),
        url('MarlinGeoSQ-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-BoldItalic.woff2') format('woff2'),
        url('MarlinGeoSQ-BoldItalic.woff') format('woff'),
        url('MarlinGeoSQ-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-Black.eot');
    src: local('Marlin Geo SQ Black'), local('MarlinGeoSQ-Black'),
        url('MarlinGeoSQ-Black.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-Black.woff2') format('woff2'),
        url('MarlinGeoSQ-Black.woff') format('woff'),
        url('MarlinGeoSQ-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ ExtraBlack';
    src: url('MarlinGeoSQ-ExtraBlack.eot');
    src: local('Marlin Geo SQ ExtraBlack'), local('MarlinGeoSQ-ExtraBlack'),
        url('MarlinGeoSQ-ExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-ExtraBlack.woff2') format('woff2'),
        url('MarlinGeoSQ-ExtraBlack.woff') format('woff'),
        url('MarlinGeoSQ-ExtraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-BlackItalic.eot');
    src: local('Marlin Geo SQ Black Italic'), local('MarlinGeoSQ-BlackItalic'),
        url('MarlinGeoSQ-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-BlackItalic.woff2') format('woff2'),
        url('MarlinGeoSQ-BlackItalic.woff') format('woff'),
        url('MarlinGeoSQ-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-Bold.eot');
    src: local('Marlin Geo SQ Bold'), local('MarlinGeoSQ-Bold'),
        url('MarlinGeoSQ-Bold.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-Bold.woff2') format('woff2'),
        url('MarlinGeoSQ-Bold.woff') format('woff'),
        url('MarlinGeoSQ-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-ThinItalic.eot');
    src: local('Marlin Geo SQ Thin Italic'), local('MarlinGeoSQ-ThinItalic'),
        url('MarlinGeoSQ-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-ThinItalic.woff2') format('woff2'),
        url('MarlinGeoSQ-ThinItalic.woff') format('woff'),
        url('MarlinGeoSQ-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-ExtraLightItalic.eot');
    src: local('Marlin Geo SQ ExtraLight Italic'), local('MarlinGeoSQ-ExtraLightItalic'),
        url('MarlinGeoSQ-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-ExtraLightItalic.woff2') format('woff2'),
        url('MarlinGeoSQ-ExtraLightItalic.woff') format('woff'),
        url('MarlinGeoSQ-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Marlin Geo SQ SemiLight';
    src: url('MarlinGeoSQ-SemiLight.eot');
    src: local('Marlin Geo SQ SemiLight'), local('MarlinGeoSQ-SemiLight'),
        url('MarlinGeoSQ-SemiLight.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-SemiLight.woff2') format('woff2'),
        url('MarlinGeoSQ-SemiLight.woff') format('woff'),
        url('MarlinGeoSQ-SemiLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ Slant';
    src: url('MarlinGeoSQSlant-Black.eot');
    src: local('Marlin Geo SQ Slant Black'), local('MarlinGeoSQSlant-Black'),
        url('MarlinGeoSQSlant-Black.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQSlant-Black.woff2') format('woff2'),
        url('MarlinGeoSQSlant-Black.woff') format('woff'),
        url('MarlinGeoSQSlant-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ SemiLight';
    src: url('MarlinGeoSQ-SemiLightItalic.eot');
    src: local('Marlin Geo SQ SemiLight Italic'), local('MarlinGeoSQ-SemiLightItalic'),
        url('MarlinGeoSQ-SemiLightItalic.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-SemiLightItalic.woff2') format('woff2'),
        url('MarlinGeoSQ-SemiLightItalic.woff') format('woff'),
        url('MarlinGeoSQ-SemiLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Marlin Geo SQ Slant';
    src: url('MarlinGeoSQSlant-Regular.eot');
    src: local('Marlin Geo SQ Slant Regular'), local('MarlinGeoSQSlant-Regular'),
        url('MarlinGeoSQSlant-Regular.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQSlant-Regular.woff2') format('woff2'),
        url('MarlinGeoSQSlant-Regular.woff') format('woff'),
        url('MarlinGeoSQSlant-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ Slant';
    src: url('MarlinGeoSQSlant-Medium.eot');
    src: local('Marlin Geo SQ Slant Medium'), local('MarlinGeoSQSlant-Medium'),
        url('MarlinGeoSQSlant-Medium.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQSlant-Medium.woff2') format('woff2'),
        url('MarlinGeoSQSlant-Medium.woff') format('woff'),
        url('MarlinGeoSQSlant-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ Slant';
    src: url('MarlinGeoSQSlant-Thin.eot');
    src: local('Marlin Geo SQ Slant Thin'), local('MarlinGeoSQSlant-Thin'),
        url('MarlinGeoSQSlant-Thin.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQSlant-Thin.woff2') format('woff2'),
        url('MarlinGeoSQSlant-Thin.woff') format('woff'),
        url('MarlinGeoSQSlant-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ Slant';
    src: url('MarlinGeoSQSlant-ExtraLight.eot');
    src: local('Marlin Geo SQ Slant ExtraLight'), local('MarlinGeoSQSlant-ExtraLight'),
        url('MarlinGeoSQSlant-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQSlant-ExtraLight.woff2') format('woff2'),
        url('MarlinGeoSQSlant-ExtraLight.woff') format('woff'),
        url('MarlinGeoSQSlant-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-Medium.eot');
    src: local('Marlin Geo SQ Medium'), local('MarlinGeoSQ-Medium'),
        url('MarlinGeoSQ-Medium.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-Medium.woff2') format('woff2'),
        url('MarlinGeoSQ-Medium.woff') format('woff'),
        url('MarlinGeoSQ-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-ExtraLight.eot');
    src: local('Marlin Geo SQ ExtraLight'), local('MarlinGeoSQ-ExtraLight'),
        url('MarlinGeoSQ-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-ExtraLight.woff2') format('woff2'),
        url('MarlinGeoSQ-ExtraLight.woff') format('woff'),
        url('MarlinGeoSQ-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-ExtraBoldItalic.eot');
    src: local('Marlin Geo SQ ExtraBold Italic'), local('MarlinGeoSQ-ExtraBoldItalic'),
        url('MarlinGeoSQ-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-ExtraBoldItalic.woff2') format('woff2'),
        url('MarlinGeoSQ-ExtraBoldItalic.woff') format('woff'),
        url('MarlinGeoSQ-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Marlin Geo SQ Slant';
    src: url('MarlinGeoSQSlant-ExtraBold.eot');
    src: local('Marlin Geo SQ Slant ExtraBold'), local('MarlinGeoSQSlant-ExtraBold'),
        url('MarlinGeoSQSlant-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQSlant-ExtraBold.woff2') format('woff2'),
        url('MarlinGeoSQSlant-ExtraBold.woff') format('woff'),
        url('MarlinGeoSQSlant-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-Regular.eot');
    src: local('Marlin Geo SQ Regular'), local('MarlinGeoSQ-Regular'),
        url('MarlinGeoSQ-Regular.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-Regular.woff2') format('woff2'),
        url('MarlinGeoSQ-Regular.woff') format('woff'),
        url('MarlinGeoSQ-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ Slant';
    src: url('MarlinGeoSQSlant-Light.eot');
    src: local('Marlin Geo SQ Slant Light'), local('MarlinGeoSQSlant-Light'),
        url('MarlinGeoSQSlant-Light.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQSlant-Light.woff2') format('woff2'),
        url('MarlinGeoSQSlant-Light.woff') format('woff'),
        url('MarlinGeoSQSlant-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-Thin.eot');
    src: local('Marlin Geo SQ Thin'), local('MarlinGeoSQ-Thin'),
        url('MarlinGeoSQ-Thin.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-Thin.woff2') format('woff2'),
        url('MarlinGeoSQ-Thin.woff') format('woff'),
        url('MarlinGeoSQ-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-LightItalic.eot');
    src: local('Marlin Geo SQ Light Italic'), local('MarlinGeoSQ-LightItalic'),
        url('MarlinGeoSQ-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-LightItalic.woff2') format('woff2'),
        url('MarlinGeoSQ-LightItalic.woff') format('woff'),
        url('MarlinGeoSQ-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-MediumItalic.eot');
    src: local('Marlin Geo SQ Medium Italic'), local('MarlinGeoSQ-MediumItalic'),
        url('MarlinGeoSQ-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-MediumItalic.woff2') format('woff2'),
        url('MarlinGeoSQ-MediumItalic.woff') format('woff'),
        url('MarlinGeoSQ-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-Light.eot');
    src: local('Marlin Geo SQ Light'), local('MarlinGeoSQ-Light'),
        url('MarlinGeoSQ-Light.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-Light.woff2') format('woff2'),
        url('MarlinGeoSQ-Light.woff') format('woff'),
        url('MarlinGeoSQ-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ Slant';
    src: url('MarlinGeoSQSlant-Bold.eot');
    src: local('Marlin Geo SQ Slant Bold'), local('MarlinGeoSQSlant-Bold'),
        url('MarlinGeoSQSlant-Bold.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQSlant-Bold.woff2') format('woff2'),
        url('MarlinGeoSQSlant-Bold.woff') format('woff'),
        url('MarlinGeoSQSlant-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ Slant ExtraBlack';
    src: url('MarlinGeoSQSlant-ExtraBlack.eot');
    src: local('Marlin Geo SQ Slant ExtraBlack'), local('MarlinGeoSQSlant-ExtraBlack'),
        url('MarlinGeoSQSlant-ExtraBlack.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQSlant-ExtraBlack.woff2') format('woff2'),
        url('MarlinGeoSQSlant-ExtraBlack.woff') format('woff'),
        url('MarlinGeoSQSlant-ExtraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ Slant SemiLight';
    src: url('MarlinGeoSQSlant-SemiLight.eot');
    src: local('Marlin Geo SQ Slant SemiLight'), local('MarlinGeoSQSlant-SemiLight'),
        url('MarlinGeoSQSlant-SemiLight.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQSlant-SemiLight.woff2') format('woff2'),
        url('MarlinGeoSQSlant-SemiLight.woff') format('woff'),
        url('MarlinGeoSQSlant-SemiLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Marlin Geo SQ';
    src: url('MarlinGeoSQ-Italic.eot');
    src: local('Marlin Geo SQ Italic'), local('MarlinGeoSQ-Italic'),
        url('MarlinGeoSQ-Italic.eot?#iefix') format('embedded-opentype'),
        url('MarlinGeoSQ-Italic.woff2') format('woff2'),
        url('MarlinGeoSQ-Italic.woff') format('woff'),
        url('MarlinGeoSQ-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

