#footer {
  .main-footer {
    .footer-top {
      border-top: 1px solid rgba(2, 24, 37, 0.1);
      border-bottom: 1px solid rgba(2, 24, 37, 0.1);
      .social-links {
        a {
          > div {
            width: 50px;
            height: 50px;
            color: #01215c;
            background: rgba(235, 235, 235, 0.719);
            border-radius: 50%;
            display: flex;
            font-size: 2.4rem;
            justify-content: center;
            align-items: center;
            opacity: 1;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .payment-links {
        a {
          img {
            transition-duration: 0.7s;
          }
          &:hover {
            img {
              transform: scale(1.2);
              transition-duration: 0.7s;
            }
          }
        }
      }
    }
    .footer-middle {
      h3 {
        font-size: 2.4rem;
        color: #01215c;
        font-weight: 500;
      }
      a {
        font-size: 1.6rem;
        color: #021825;
        &:hover {
          color: #01215c;
          text-decoration: underline;
        }
      }
    }
  }
  .footer-bottom {
    font-size: 1.4rem;
      border-top: 1px solid rgba(2, 24, 37, 0.1)
  }
  .mobile-footer {
    .mobile-footer-logo {
      .mobile-footer__title {
        font-size: 1.6rem;
        color: rgba(2, 24, 37, 0.7);
      }
    }
    .mobile-social-link {
      .social-link {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 2.4rem;
        color: #01215c;
        background: rgba(235, 235, 235, 0.719);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      border-bottom: 1px solid rgba(2, 24, 37, 0.1);
    }
    .accordion-item {
      border: 0;
      border-bottom: 1px solid rgba(2, 24, 37, 0.1);
      .accordion-button {
        font-size: 2rem;
        color: #01215c;
        font-weight: 500;
        &:focus {
          border: 0;
          box-shadow: none;
        }
      }
      .accordion-body {
        .link-item {
          font-size: 1.8rem;
          color: #01215c;
        }
      }
    }
  }
}
