.collection_page {
  .hero-section {
    background: url(/img/collection/banner_bg.jpg);
    background-size: cover;
    background-position: center;
    .r-container {
      padding-top: 17rem;
      padding-bottom: 11rem;
      @media (max-width: 991px) {
        padding-top: 12rem;
        padding-bottom: 9rem;
      }
      .title {
        font-size: 7.2rem;
        color: white;
        font-family: FreeSerif;
        font-style: italic;
        font-weight: 400;
        font-size: 7.6rem;
      }
      .btn-play {
        font-size: 4rem;
        z-index: 3;
        color: rgba(255, 255, 255, 0.7);
        transition-duration: 0.5s;
        cursor: pointer;
        &:hover {
          color: rgba(255, 255, 255, 0.8);
          transition-duration: 0.7s;
        }
        @media (max-width: 767px) {
          font-size: 3.2rem;
        }
      }
    }
    @media (max-width: 767px) {
      .r-container {
        padding-top: 10rem;
        padding-bottom: 5rem;
        .title {
          font-size: 5.8rem;
          line-height: 1;
        }
      }
    }
    @media (max-width: 575px) {
      .r-container {
        padding-top: 6rem;
        padding-bottom: 3rem;
        .title {
          width: 100%;
          font-size: 4.42rem;
        }
      }
    }
  }
  .guide-section {
    background: #f7f3ec;
    .title {
      font-size: 4.8rem;
      font-weight: 400;
      color: #01215c;
      span {
        font-family: FreeSerif;
        font-style: italic;
        font-size: 5.2rem;
      }
    }
    .guide-text {
      font-size: 24px;
      line-height: 150%;
      font-weight: 400;
      color: rgba(2, 24, 37, 0.8);
    }
    @media (max-width: 575px) {
      .title {
        width: 100%;
        font-size: 3.2rem;
        span {
          font-size: 3.6rem;
        }
      }
      .guide-text {
        font-size: 1.8rem;
      }
    }
  }
  .collection-section {
    .collection-panel {
      .image-panel {
        .sub-image {
          width: 50%;
          margin-right: -6%;
          z-index: 2;
          filter: drop-shadow(-24px 0px 50px rgba(0, 0, 0, 0.06));
          border-radius: 12px;
        }
        .main-image {
          width: 70%;
          border-radius: 12px;
          margin-left: -11%;
        }
      }
      .text-panel {
        .title {
          font-weight: 350;
          font-size: 48px;
          line-height: 110%;
        }
        .description {
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: rgba(2, 24, 37, 0.7);
        }
        .btn-explore {
          border: 1px solid #fad3da;
          box-sizing: border-box;
          border-radius: 9px;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: #01215c;
          &:hover {
            background: #fad3da;
          }
        }
      }
    }
  }
  .our-collection-section {
    background: rgba(250, 211, 218, 0.5);
    .title-panel {
      .title {
        font-weight: normal;
        font-size: 3.6rem;
        font-family: FreeSerif;
        font-style: italic;
        color: #021825;
      }
    }
    .slider-panel {
      .image-panel {
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .title {
        font-weight: 400;
        font-size: 24px;
        line-height: 130%;
      }
    }
  }
}
